<h1>Inserimento nuovo utente</h1>

<%= form_for :user, url: users_path do |f| %>
    <p>
      Nome<br>
      <%= f.text_field :name %>
    </p>

    <p>
      Cognome<br>
      <%= f.text_field :surname %>
    </p>

    <p>
      Nr. di telefono<br>
      <%= f.text_field :phonenr %>
    </p>

    <p><i>
      Data di registrazione:
      <%= @current_date_time %></i>
    </p>

    <p>
      <%= f.submit 'Crea nuovo utente' %>
    </p>
<% end %>
