<h1>Dettagli libro</h1>

  <p>
    <b>Autore: </b>
    <%= @book.author %>
  </p>
 
  <p>
    <b>Titolo: </b>
    <%= @book.title %>
  </p>
  
  <p>
    <b>ISBN:</b>
    <%= @book.isbn %>
  </p>
 
  <p>
    <b>Casa Editrice: </b>
    <%= @book.publisher %>
  </p>
  
  <p>
    <b>Anno: </b>
    <%= @book.year %>
  </p>
  
  <br>
  
  <p><a href="/books">Torna al catalogo libri</a></p>

 

