<h1>Dettagli libro</h1>
<p>
  <b>Autore: </b>
  <%= @book.author %>
</p>
<p>
  <b>Titolo: </b>
  <%= @book.title %>
</p>
<p>
  <b>ISBN:</b>
  <%= @book.isbn %>
</p>
<p>
  <b>Casa Editrice: </b>
  <%= @book.publisher %>
</p>
<p>
  <b>Anno: </b>
  <%= @book.year %>
</p>

<p><i>
  <% if @book.available_for_rent? %>
      Libro disponibile per il prestito.
  <% else %>
      Libro in prestito a
      <%= @whohasit %>: &nbsp;
      <%= form_for :book, url: book_path, method: :patch do |f| %>
          <%= f.hidden_field :user_id, value: nil %>
          <%= f.submit @whohasit+' lo ha restituito' %>
      <% end %>
  <% end %>
</i></p>

<hr>

<% if @comment_sent %>

    <div id='messaggio_inviato' style="color: whitesmoke; background-color: darkred">
      <b>Il commento &egrave; stato inviato alla Redazione, grazie!</b>
    </div>

<% else %>

    <div id='contattateci'>

      <%= form_for :book, url: {action: 'send_comment'}, html: {id: 'comment_form' } do %>
          e-Mail: <%= text_field_tag 'email' %><br />
          Messaggio: <br /> <%= text_area_tag 'message', nil, rows: 10 %><br />
          <%= submit_tag 'Invia un commento' %>
      <% end %>

    </div>

<% end %>

<hr>

<p><a href="/books">Torna al catalogo libri</a></p>
