<h1>Dettagli libro</h1>

  <p>
    <b>Autore: </b>
    <%= @book.author %>
  </p>
 
  <p>
    <b>Titolo: </b>
    <%= @book.title %>
  </p>
  
  <p>
    <b>ISBN:</b>
    <%= @book.isbn %>
  </p>
 
  <p>
    <b>Casa Editrice: </b>
    <%= @book.publisher %>
  </p>
  
  <p>
    <b>Anno: </b>
    <%= @book.year %>
  </p>
  
  <p><i>
  <% if @book.user_id.nil? %>
  	Libro disponibile per il prestito.
  <% else %>
  	Libro in prestito a 
  	<%= User.find(@book.user_id).surname %>
  <% end %>
  </i></p>
  
  <br>
  
  <p><a href="/books">Torna al catalogo libri</a></p>

 

